
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ebbf8e, #F5AA52);
    font-family: 'Inter', sans-serif; 
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: blue;
  }
  
  .login-form {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 85%;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .warning{
    display: flex;
    border-radius: 10px;
    margin-left: -6%;
    margin-top: 3%;
    background-color: rgb(171, 253, 171); 
    width: 60%;
  }
  .icone{
    margin-left: auto;
    margin-top: -1%;
    cursor: pointer;
  }

  .warning p{
    margin-left: 2%;
    font-size: 0.8rem;
    color: rgb(2, 77, 2);
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #000000;
  }
  
  .loginText{
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  .image{
    width: 150px;
    height: 90px;
  }
  
 .imageLogo{
  margin-top: -20px;
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: start;
 }

  #male{
    margin-top: 15px;
    width: 5%;
    margin-left: -20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 15px;
    outline: none;
  }

  .links{
    font-size: 0.8rem; 
    color: blue; 
    margin-top: 10px;
  }

  .red{
    color:red;
  }

  .bodyForm{
    margin-bottom: auto;
    width: 100%;
  }
  input {
    width: 60%;
    padding: 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #888888;
    border-radius: 15px;
    outline: none;
  }
  .button {
    font-weight: bold;
    width: 50%;
    background-color: #F5AA52;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .button a{
    color: white;
  }
  
footer {
  width: 100%;
  font-size: 0.8rem;
  color: #0000007a;
  text-align: center;
  position: relative;
  bottom: 0;

}
@media (max-width: 412px) and (min-width:200px){
  body{
      background: linear-gradient(to right, #ffffff, #ffffff);
  }
  .login-form{
    margin-left: -30px;
    width: 100%;
    height: 90%;
  }
  .image{
    width: 90px;
    height: 60px;
  }
  input {
    width: 80%;  
  }
  .button{
    width: 70%;
  }
  footer{
    margin-top: 10px;
  }
}


@media (max-width: 728px) and (min-width: 412px)  {
  .login-form{
    margin-top: 20px;
    height: 90%;
  }
  footer{
    margin-top: 20px;
  }
}
@media (max-width: 1920px) and (min-width: 1500px)  {
  .loginText{
    margin-bottom: 60px;
    font-size: 3.5rem;
  }
  .image{
    width: 200px;
    height: 130px;
  }
  .login-form{
    margin-top: 20px;
    width: 1000px;
    height: 100%;
    font-size: 2rem;
  }
  .button {
    font-weight: bold;
    background-color: #F5AA52;
    height: 80px;
    border-radius: 30px;
    font-size: 2rem;
  }
  .links{
    font-size: 1.5rem; 
    margin-top: 30px;
    margin-bottom: 20px;
  }
  input {
    height: 80px;
    border-radius: 30px;
    font-size: 1.5rem;
    margin-bottom: 45px;
  }
  label {
    margin-bottom: 32px;
  }
  
  footer{
    margin-top: 40px;
    font-size: 1.6rem;
  }
  #male{
    margin-top: -30px;
    width: 3%;
    margin-left: -50px;
  }
}