* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}

.edit{
    width: 50%;
    height: 450px;
    background-color: #ffa033d6;
    border-radius: 10px;
    color: white;
}

.container section .conteudo{
    padding: 30px;
}

form{
    margin-left: 20%;
}

input{
    height: 40px;
    width: 200px;
    border-radius:10px;
    border: 0px solid white;
    padding: 10px;
    box-sizing: border-box;
}

input::placeholder{
    padding: 10px;
    font-weight: bold;
}

input:focus {
    outline: none;
    border: none; /* ou qualquer outra propriedade de borda desejada */
}

.groupInput{
    margin-top: 30px;
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}
.groupInput {
    margin-bottom: 15px;
}

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffffff;
    color: blue;
}

.img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
}

.table{
    margin-top: 5%;
    width: 70%;
}

.minha-tabela {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
   }
   
   .minha-tabela th,
   .minha-tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
   }
   
   .minha-tabela tr:nth-child(even) {
    background-color: #f2f2f2;
   }

   
   .minha-tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
   }

   
 
@media (max-width: 412px) and (min-width:200px){
    .groupInput{
        margin-top: 0px;
        flex-direction: column;
        width: 70%;

    }
    .groupInput {
        margin-bottom: 0px;
    }
    .container .edit{
        height: 480px;
    }
    input{
        margin-bottom: 8px;
        margin-left: 0px;
    }
    .container section{
        width: 80%;
        height: 450px;
    }
    button {
        align-items: center;
        width: 60px;
        margin-left: 140px;
    }
  }
  
  
  @media (max-width: 768px) and (min-width: 413px)  {
    .container section{
        width: 80%;
        height: 450px;
    }
    
    .container section .conteudo{
        padding: 20px;
    }
    input{
        margin-left: 10px;
    }
    
 
  }
  @media (max-width: 1920px) and (min-width: 1500px)  {
    .edit{
        height: 750px;
    }
    .edit h2{
        font-size: 3rem;
    }
    input{
        font-size: 1.3rem;
        width: 250px;
        height: 60px;
    }
    button{
        height: 50px;
        font-size: 1.3rem;
    }
    .table h2{
        font-size: 2rem;
    }
    .minha-tabela th,
    .minha-tabela td {
     font-size: 1.5rem;
    }
  }