body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffffff, #ffffff);
    font-family: 'Inter', sans-serif; 
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  a{
    text-decoration: none;
    color: blue;
  }
  
  .login-form {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #000000;
  }
  
  .loginText{
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  .image{
    width: 150px;
    height: 90px;
  }
  
  .logo{
    margin-bottom: auto;
    align-self: flex-start;
    display: inline-flex;
  }

  #male{
    margin-top: 15px;
    width: 5%;
    margin-left: -20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 15px;
    outline: none;
  }

  .links{
    font-size: 0.8rem; 
    color: blue; 
    margin-top: 10px;
  }

  .red{
    color:red;
  }

  .bodyForm{
    margin-bottom: auto;
  }
  input {
    width: 60%;
    padding: 12px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #888888;
    border-radius: 15px;
    outline: none;
  }
  button {
    font-weight: bold;
    width: 50%;
    background-color: #F5AA52;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  button a{
    color: white;
  }
  
  button:hover {
    background: #0904F9;
  }
footer {
  font-weight: bold;
  font-size: 0.8rem;
  color: #333;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;

}

@media (max-width: 391px) {
  body{
      background: linear-gradient(to right, #ffffff, #ffffff);
  }
  button{
      width: 60%;
      background-color: #F5AA52;
  }
  .container {
      margin-right: auto;
      width: 90%;
      height: 80%;
    }
  input{
      width: 80%;
  }
  button:hover {
      background: #F5AA52;
    }
  .loginText{
      margin-left: 20px;
  }
  .image{
    margin-left: -50px;
  }
  
}


@media (max-width: 850px) and (min-width: 391px)  {
  body{
    background: linear-gradient(to right, #ffffff, #ffffff);
  }
  button{
      width: 50%;
      background-color: #F5AA52;
  }
  .container {

      width: 70%;
      height: 80%;
    }
  input{
      width: 50%;
  }
  button:hover {
      background: #F5AA52;
    }
  .loginText{
      margin-left: 10%;
  }
  .image{
    margin-left: -50px;
  }
  
}